.ne-c{
  margin-left: 22%;
  margin-right: 15%;
}

.ef-c{
  border-bottom: black 1px solid;
  margin-bottom: 10px;
}

.ef-c2{
  margin-bottom: 11px;
}

.ef-p{
  width: 50px;
}

.ef-t{
  margin-bottom: 5px;
}

.ef-s{
  margin-top: 5px;
}

.ef-d{
  width: 180px;
}
