.headers{
  display: flex;
  justify-content: left;

}

.headers-container{
  margin-left: 22%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.headers-title{
  margin-left: 0px;
  margin-right: 35px;
  margin-bottom: 10px;
}

.headers-content{
  margin-top: 10px;
  margin-bottom: 0px;
}

.slide-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 22%;
  margin-right: 10%;
}

.active-page{
  text-decoration: underline;
  color: green;
}

.inactive:hover{
 cursor: pointer;
 color: red;
}
