.hidden{
  display: none
}

.Logo{
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 136, 0);
  font-size: x-large;
}

.nav-group{
  text-decoration: none;
  font-weight: bold;
  color: teal;
}

.nav-container{
  margin: 25px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: gray 1px solid;
  padding-bottom: 30px;
}

.profile-dropdown{
  position: absolute;
  right: 50px;
  background-color: rgb(185, 185, 185);
  list-style: none;
  padding: 10px;
}

.profile-dropdown > li {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.profile-dropdown > li > button {

}
